## Lista 2 - Exercícios Pandas

_Descrição dos Exercícios:_ Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

In [12]:
# Importando o pandas
import pandas as pd

In [26]:
# Caminhos relativos dos arquivos dos datasets

# https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data
airbnb_file_path = "./datasets/AB_NYC_2019.csv"

# https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data
house_prices_file_path = "./datasets/house_prices_train.csv"

# https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
# https://www.kaggle.com/datasets/rush4ratio/video-game-sales-with-ratings
# https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows
# https://www.kaggle.com/datasets/ashutoshdevpura/imdb-top-10000-movies-updated-august-2023

__Exercício 1:__ Análise de Dados do Airbnb em Nova York
__Dataset:__  Disponível no Kaggle como _New York City Airbnb Open Data_.

__Questões:__

__1-__ Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

__2-__ Calcule o preço médio de aluguel por bairro (neighbourhood_group).

__3-__ Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

__4-__ Determine os 10 bairros com a maior quantidade de hospedagens listadas.

In [22]:
# importando o dataset
ds_airbnb = pd.read_csv(airbnb_file_path)


# __1-__ Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.
(ds_airbnb.head())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [15]:
# __2-__ Calcule o preço médio de aluguel por bairro (neighbourhood_group).
selected_columns = ['neighbourhood_group', 'price']
subset = ds_airbnb[selected_columns]
neighbourhood_groups_list = subset.groupby('neighbourhood_group').mean()
(neighbourhood_groups_list)

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [16]:
# __3-__ Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).
selected_columns = ['room_type', 'id']
subset = ds_airbnb[selected_columns]
room_types = subset.groupby('room_type').count()

(room_types)

                    id
room_type
Entire home/apt  25409
Private room     22326
Shared room       1160

In [31]:
# __4-__ Determine os 10 bairros com a maior quantidade de hospedagens listadas.
selected_columns = ['neighbourhood', 'calculated_host_listings_count']
subset = ds_airbnb[selected_columns]
neighbourhoods = subset.groupby('neighbourhood').sum().sort_values(by='calculated_host_listings_count', ascending=False)
(neighbourhoods.head(10))

                    calculated_host_listings_count
neighbourhood
Financial District                           85454
Murray Hill                                  26125
Hell's Kitchen                               25169
Midtown                                      25019
Theater District                             18704
Chelsea                                      18098
Upper East Side                              16282
Upper West Side                              13360
Bedford-Stuyvesant                            9688
Tribeca                                       7606

__Exercício 2:__ Explorando Dados de Vendas de Imóveis
    
__Dataset:__ Disponível no Kaggle como _House Prices: Advanced Regression Techniques._

__Questões:__

__1-__ Exiba o número total de linhas e colunas no DataFrame.

__2-__ Encontre o preço médio dos imóveis.

__3-__ Liste as 5 áreas de lote (LotArea) mais grandes.

__4-__ Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

In [27]:
# importando o dataset
ds_house_prices = pd.read_csv(house_prices_file_path)

# __1-__ Exiba o número total de linhas e colunas no DataFrame.
n_rows, n_columns = ds_house_prices.shape
print(f"{n_rows} x {n_columns}")

1460 x 81

In [29]:
# __2-__ Encontre o preço médio dos imóveis.
selected_columns = ['SalePrice']
sale_prices = ds_house_prices[selected_columns]

(sale_prices.mean())

SalePrice    180921.19589
dtype: float64

In [33]:
# __3-__ Liste as 5 maiores áreas de lote (LotArea).
selected_columns = ['LotArea']

lot_areas = ds_house_prices[selected_columns]

(lot_areas.sort_values(by='LotArea', ascending=False).head())

     LotArea
313   215245
335   164660
249   159000
706   115149
451    70761

In [53]:
# __4-__ Determine quantos imóveis possuem mais de 2 banheiros (FullBath).
selected_columns = ['FullBath']

subset = (ds_house_prices[selected_columns] > 2).sum()
(subset)

FullBath    33
dtype: int64

__Exercício 3:__ Análise de Dados de Compras Online

__Dataset:__ Disponível no Kaggle como _Brazilian E-Commerce Public Dataset by Olist._

__Questões:__

__1-__ Determine quantos pedidos foram feitos em cada ano.

__2-__ Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).

__3-__ Identifique o top 5 categorias de produtos mais vendidos.

__Exercício 4:__ Análise de Dados de Filmes do IMDb
    
__Dataset:__ Disponível no Kaggle como _IMDb movies extensive dataset_.

__Questões:__

__1-__ Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

__2-__ Calcule a duração média dos filmes.

__3-__ Identifique o filme com a maior quantidade de votos (votes).

__4-__ Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

__Exercício 5:__ Explorando Dados de Jogos de Videogame
    
__Dataset:__ Disponível no Kaggle como _Video Game Sales with Ratings_.
    
__Questões:__

__1-__ Liste os 5 jogos mais vendidos globalmente (Global_Sales).

__2-__ Calcule as vendas totais na América do Norte (NA_Sales).

__3-__ Encontre o jogo mais vendido no Japão (JP_Sales).

__4-__ Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.